<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Reset</title>
</head>
<body>
    <main>
        <h1>Password reset {{ status }}</h1>
    </main>
</body>
</html>
