{% extends "public/auth-layout.twig" %}

{% block auth_page_title %}Reset Password{% endblock %}

{% block auth_eyebrow %}Almost there{% endblock %}
{% block auth_headline %}Choose a new password.{% endblock %}
{% block auth_subtext %}Enter your new password below.{% endblock %}

{% block auth_form %}
    <h2>New password</h2>

    {% if error is defined and error %}
        <div class="auth-error">{{ error }}</div>
    {% endif %}

    <form method="post" action="/reset-password/{{ token }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="token" value="{{ token }}">

        <div class="auth-field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" autocomplete="new-password" required>
        </div>

        <button type="submit" class="auth-submit">Reset password</button>
    </form>
{% endblock %}

{% block auth_links %}
    <a href="/login">Back to log in</a>
{% endblock %}
