{% extends "public/auth-layout.twig" %}

{% block auth_page_title %}Join the Waitlist{% endblock %}

{% block auth_eyebrow %}Early access{% endblock %}
{% block auth_headline %}We're building something different.{% endblock %}
{% block auth_subtext %}Claudriel turns your schedule, commitments, and active work into one focused operating surface. Join the waitlist to get early access.{% endblock %}

{% block auth_form %}
    <h2>Join the waitlist</h2>

    <div style="min-height: 400px;">
        <iframe
            src="https://goformx.com/forms/claudriel-waitlist"
            width="100%"
            height="400"
            frameborder="0"
            style="border: none; border-radius: 0.65rem; background: transparent;"
            title="Claudriel waitlist signup"
        ></iframe>
    </div>
{% endblock %}

{% block auth_links %}
    Already have an account? <a href="/login">Log in</a>
{% endblock %}
